<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Document</title>
</head>
<body>
    <h1>prelander</h1>
    <a href="{{content_url}}">click link to continue to original content</a><br>
    <a href="{{backbutton_url}}">backbutton_url</a><br>
    <a href="{{display_ad_url}}">display_ad_url</a>
    {{ metadata_tags | safe}}
</body>
</html>